@use '@angular/material' as mat;

html {
    @include mat.slide-toggle-overrides((
    track-width: 4.8rem,
    track-height: 2.4rem,
    track-outline-width: 0,
    track-shape: var(--mat-sys-corner-full),
    touch-target-size: 1.4rem,
    pressed-handle-size: 1.4rem,
    selected-handle-horizontal-margin: 0 0 0 -5px,
    selected-pressed-handle-horizontal-margin: 0 0 0 -5px,
    selected-track-outline-color: transparent,
    selected-track-outline-width: 0px,
    state-layer-size: 1.4rem,
    selected-handle-size: 1.4rem,
    unselected-handle-horizontal-margin: 0 0 0 5px,
    unselected-pressed-handle-horizontal-margin: 0 0 0 5px,
    unselected-handle-size: 1.4rem,
    handle-width: 1.4rem,
    handle-height: 1.4rem,
    handle-surface-color: var(--neutral-0),
    handle-shape: 50%,
    track-outline-color: transparent,
    selected-focus-handle-color: var(--primary-100),
    selected-hover-handle-color: var(--primary-100),
    selected-focus-state-layer-color: var(--primary-100),
    selected-focus-state-layer-opacity: 1,
    selected-hover-track-color: var(--neutral-0),
    selected-focus-track-color: var(--neutral-0),
    selected-handle-color: var(--primary-400),
    selected-hover-state-layer-color: var(--primary-100),
    selected-hover-state-layer-opacity: 1,
    selected-pressed-handle-color: var(--primary-400),
    selected-pressed-state-layer-color: var(--primary-100),
    selected-pressed-state-layer-opacity: 1,
    selected-pressed-track-color: var(--neutral-0),
    selected-track-color: var(--neutral-0),
    unselected-focus-handle-color: var(--primary-100),
    unselected-focus-state-layer-color: var(--primary-100),
    unselected-focus-state-layer-opacity: 1,
    unselected-focus-track-color: var(--neutral-0),
    unselected-handle-color: var(--primary-400),
    unselected-hover-handle-color: var(--primary-100),
    unselected-hover-state-layer-color: var(--primary-100),
    unselected-hover-state-layer-opacity: 1,
    unselected-hover-track-color: var(--neutral-0),
    unselected-pressed-handle-color: var(--primary-400),
    unselected-pressed-state-layer-color: var(--primary-100),
    unselected-pressed-state-layer-opacity: 1,
    unselected-pressed-track-color: var(--neutral-0),
    unselected-track-color: var(--neutral-0),
  ));
}
