@use './media' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

html {
  color-scheme: light;
  font-size: 10px;
  box-sizing: border-box;

  &.dark {
    color-scheme: dark;
  }
}

.container {
  width: 100%;
  margin-inline: auto;

  &--lg {
    max-width: 130rem;
    padding-inline: 9.5rem;
  }

  &--md {
    max-width: 80rem;
    padding-inline: 3.5rem;
  }

  &--fixed {
    position: fixed;
    inset: var(--header-height) 0 auto 0;
    z-index: var(--z-index-overlay);
    transform: translateY(calc(-1 * var(--overlap)));
  }

  @include respond(tablet) {
    padding-inline: 3.95rem;
  }

  @include respond(phone) {
    padding-inline: 2.4rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: var(--primary-400);

  &:hover {
    background-color: var(--primary-100);
  }
}
