@use './media' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

html {
  color-scheme: light;
  font-size: 10px;
  box-sizing: border-box;

  &.dark {
    color-scheme: dark;
  }
}

.container {
  width: 100%;
  margin-inline: auto;

  &--lg {
    max-width: 130rem;
    padding-inline: 9.5rem;
  }

  &--md {
    max-width: 80rem;
    padding-inline: 3.5rem;
  }

  @include respond(tablet) {
    padding-inline: 3.95rem;
  }

  @include respond(phone) {
    padding-inline: 2.4rem;
  }
}
