@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf') format('truetype');
}
