:root {
  --neutral-0: #fff;
  --neutral-100: #f4f6f8;
  --neutral-300: #9daec2;
  --neutral-600: #6e8098;

  --primary-100: #939bf4;
  --primary-400: #5964e0;
  --primary-700: #19202d;
  --primary-900: #121721;
}
