@use "fonts";
@use "media";
@use "animations";
@use "variables";
@use "base";
@use "typography";

@use 'components/button';
@use 'components/checkbox';
@use 'components/form-field';
@use 'components/slide-toggle';

@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Kumbh Sans,
    density: 0,
  ));

  @include mat.progress-spinner-overrides((
    active-indicator-color: var(--primary-400),
  ));

  @include mat.divider-overrides((
    color: rgba(110, 128, 152, .2),
  ));

  .mat-divider.mat-divider-vertical {
    height: 100%;
  }

  .cdk-overlay-backdrop {
    background: rgba(0,0,0,.5);
  }

  @include mat.dialog-overrides((
    container-shape: 6px,
    container-color: light-dark(var(--neutral-0), var(--primary-700)),
    content-padding: 0,
    headline-padding: 0,
  ));
}

body {
  margin: 0;
}
