
@use 'media' as *;
@use '@angular/material' as mat;

:host {
  .filters {
    border-radius: 6px;
    overflow: hidden;
    background-color: light-dark(var(--neutral-0), var(--primary-700));
    height: 8rem;
    display: grid;
    grid-template-columns: minmax(19rem, 1fr) auto minmax(2rem, 30rem) auto minmax(6.5rem, 34.5rem);
    transition: background-color 0.35s ease-in-out;

    &__query {
      &::ng-deep .mat-mdc-form-field-icon-prefix .mat-icon {
        padding: 0 1.6rem 0 3.2rem;
      }
    }

    &__location {
      &::ng-deep .mat-mdc-form-field-icon-prefix .mat-icon {
        width: 1.7rem;
        height: 2.4rem;
        padding: 0 1.6rem 0 2.3rem;
      }
    }

    &__end {
      padding: 0 1.6rem 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2.6rem;
    }

    &__checkbox {
      display: flex;
      align-items: center;
      padding: 0 0 0 3.2rem;
    }

    &__trigger {
      align-self: center;

      @include mat.icon-button-overrides(
        (
          icon-size: 2rem,
          icon-color: light-dark(var(--neutral-600), var(--neutral-0)),
          state-layer-color: light-dark(var(--neutral-100), var(--neutral-600)),
        )
      );
    }

    &__search-mobile {
      align-self: center;
      background-color: var(--primary-400);

      @include mat.icon-button-overrides(
        (
          icon-size: 2.4rem,
          icon-color: var(--neutral-0),
          state-layer-color: var(--primary-100),
        )
      );
    }

    .btn {
      @include mat.button-overrides(
        (
          filled-horizontal-padding: 3.55rem,
        )
      );
    }

    @include respond(tablet) {
      &__query, &__location {
        &::ng-deep .mat-mdc-form-field-icon-prefix .mat-icon {
          padding: 0 1.6rem 0 2.4rem;
        }
      }

      &__end {
        gap: 2.8rem;
      }

      &__checkbox {
        padding: 0 0 0 2rem;
      }

      .btn {
        @include mat.button-overrides(
          (
            filled-horizontal-padding: 1.4rem,
          )
        );
      }
    }

    @include respond(phone) {
      grid-template-columns: 1fr auto auto;
      gap: 1rem;
      padding-right: 2.4rem;
      height: 7.2rem;

      &__query {
        &::ng-deep .mdc-text-field {
          padding: 0 0 0 2.4rem;
        }
      }
    }
  }
}
