
@use '../../../public/scss/_media.scss' as *;

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .jobs {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 14.4rem;
    padding-bottom: 6.4rem;

    @include respond(tablet) {
      padding-top: 11rem;
      padding-bottom: 2rem;
    }

    @include respond(phone) {
      padding-top: 9.7rem;
    }
  }
}
