
@use '../../../public/scss/_media.scss' as *;

:host {
  .jobs {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10.5rem;
    padding-bottom: 6.4rem;

    @include respond(tablet) {
      gap: 7rem;
      padding-bottom: 2rem;
    }

    @include respond(phone) {
      gap: 5.7rem;
    }
  }
}
