@use '../../../../../public/scss/_media.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  .heading--md {
    line-height: 1;
    color: var(--primary-700);
  }

  .text {
    color: light-dark(var(--neutral-600), var(--neutral-300));
  }

  .list {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__item {
      display: flex;
      align-items: start;
    }

    &__point {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      flex-shrink: 0;
      background: var(--primary-400);
      margin-top: 1rem;
    }

    &__num {
      color: var(--primary-400);
      font-weight: 700;
    }
  }

  @include respond(phone) {
    .list {
      &__container {
        gap: 3.2rem;
      }
    }
  }
}
