<p class="heading heading--md">{{ title() }}</p>

<div class="list__container">
  <p class="text">{{ jobSection().content }}</p>
  <ul class="list__list">
    @for (item of jobSection().items; track $index) {
      <li class="list__item" [style.gap.px]="bulletMode() === 'point' ? 32 : 25">
        @if (bulletMode() === 'point') {
          <div class="list__point" aria-hidden="true"></div>
        } @else {
          <span class="list__num text">{{ $index + 1 }}</span>
        }
        <p class="text">{{ item }}</p>
      </li>
    }
  </ul>
</div>
