
@use 'media' as *;

:host {
  .job {
    padding: 4.8rem 4.3rem 4.8rem 4.8rem;
    background-color: light-dark(var(--neutral-0), var(--primary-700));
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    transition: background-color 0.35s ease-in-out;

    .text {
      color: light-dark(var(--neutral-600), var(--neutral-300));
      transition: color 0.35s ease-in-out;
    }

    &__heading-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__data {
      height: 1.9rem;
      display: flex;
      align-items: start;
      gap: 1.2rem;
      color: light-dark(var(--neutral-600), var(--neutral-300));

      .text {
        line-height: 1;
      }

      div {
        height: 4px;
        width: 4px;
        border-radius: 50%;
        margin-top: 8px;
        background: currentColor;
      }
    }

    &__position {
      line-height: 1;
      color: light-dark(var(--primary-700), var(--neutral-0));
      margin-bottom: 6px;
      transition: color 0.35s ease-in-out;
    }

    &__location {
      color: var(--primary-400);
    }
  }

  @include respond(phone) {
    .job {
      padding: 4rem 2.45rem;
      gap: 3.2rem;

      &__heading-box {
        flex-direction: column;
        align-items: stretch;
        gap: 5rem;
      }

      &__position {
        margin-bottom: 8px;
      }
    }
  }
}
