:host {
  .form {
    display: flex;
    flex-direction: column;

    &__location {
      &::ng-deep .mat-mdc-form-field-icon-prefix .mat-icon {
        width: 1.7rem;
        height: 2.4rem;
        padding: 0 1.6rem 0 2.4rem;
      }
    }

    &__checkbox {
      padding: 2.4rem;
    }

    &__submit {
      padding: 0 2.4rem 2.4rem;

      .btn {
        width: 100%;
      }
    }
  }
}
