@use '@angular/material' as mat;

html {
  @include mat.checkbox-overrides((
    selected-focus-state-layer-opacity: 0,
    selected-hover-state-layer-opacity: 0,
    selected-pressed-state-layer-opacity: 0,
    selected-checkmark-color: var(--neutral-0),
    selected-focus-icon-color: var(--primary-400),
    selected-hover-icon-color: var(--primary-400),
    selected-icon-color: var(--primary-400),
    selected-pressed-icon-color: var(--primary-400),
    unselected-focus-state-layer-opacity: .25,
    unselected-hover-state-layer-opacity: .25,
    unselected-pressed-state-layer-opacity: .25,
    unselected-focus-state-layer-color: var(--primary-400),
    unselected-pressed-state-layer-color: var(--primary-400),
    unselected-hover-state-layer-color: var(--primary-400),
    unselected-focus-icon-color: transparent,
    unselected-hover-icon-color: transparent,
    unselected-icon-color: light-dark(rgba(25, 32, 45, 0.135), rgba(255, 255, 255, 0.135)),
    label-text-color: light-dark(var(--primary-700), var(--neutral-0)),
    label-text-size: 1.6rem,
    label-text-line-height: 1.6rem,
    label-text-tracking: -.1px,
    label-text-weight: 700,
    touch-target-size: 2.4rem,
    touch-target-display: block,
    state-layer-size: 2.4rem,
  ));

  .mdc-checkbox__background {
    height: var(--mat-checkbox-state-layer-size);
    width: var(--mat-checkbox-state-layer-size);
    border-width: 0;
    border-radius: 3px;
    top: 0;
    left: 0;
    background-color: var(--mat-checkbox-unselected-icon-color);
    transition: background-color .35s ease-in-out;
  }

  .mdc-checkbox__checkmark {
    --size: 1.4rem;
    width: var(--size);
    height: var(--size);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mat-mdc-checkbox .mat-internal-form-field-label {
    transition: color .35s ease-in-out;
    margin: 3px 0 5px 0;
    padding-left: 1.6rem;
  }

  .mat-internal-form-field {
    align-items: start;
  }

  .mat-mdc-checkbox .mat-mdc-checkbox-ripple, .mdc-checkbox__ripple {
    border-radius: 3px;
  }
}
