:host {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1.2rem;
    background-color: light-dark(var(--neutral-100), var(--primary-700));
    border-radius: 6px;
    gap: .6rem;
    transition: background-color .35s ease-in-out;

    &__text {
      display: contents;
      color: light-dark(var(--primary-900), var(--neutral-0));
      transition: color .35s ease-in-out;
    }

    &__link {
      &:link, &:visited {
        font-weight: 700;
        text-decoration: none;
        outline: 0 none;
        color: light-dark(var(--primary-600), var(--primary-400));
        position: relative;
        transition: color .45s ease-in-out;

        &::after {
          content: "";
          position: absolute;
          height: 1px;
          background-color: currentColor;
          bottom: -1px;
          inset-inline: 0;
          transform: scaleX(0);
          transition: transform .35s ease-in-out;
        }
      }

      &:hover, &:active, &:focus {
        color: var(--primary-100);
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

