
@use 'media' as *;

:host {
  display: contents;

  .job {
    padding: 4.9rem 3.2rem 3.2rem;
    border-radius: 6px;
    background-color: light-dark(var(--neutral-0), var(--primary-700));
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4.4rem;
    position: relative;
    text-decoration: none;
    outline: 0 none;
    transition:
      background-color 0.35s ease-in-out,
      box-shadow 0.35s ease-in-out,
      transform 0.45s ease-in-out;

    @include respond(tablet) {
      padding-right: 2.1rem;
    }

    @include respond(phone) {
      padding-right: 9px;
    }

    &:hover,
    &:focus-visible {
      transform: translateY(-4px);

      .job__logo {
        scale: 1.15;
      }

      .job__position {
        color: light-dark(var(--neutral-300), var(--neutral-600));
      }
    }

    &:focus-visible {
      box-shadow: 0 0 0 1px light-dark(var(--primary-400), var(--neutral-300));
    }

    &__logo {
      position: absolute;
      top: 0;
      left: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      border-radius: 1.5rem;
      transform: translateY(-50%);
      transition: scale .45s ease-in-out;
    }

    &__data {
      height: 1.9rem;
      display: flex;
      align-items: start;
      gap: 1.2rem;
      color: var(--neutral-600);

      .text {
        line-height: 1;
      }

      div {
        height: 4px;
        width: 4px;
        border-radius: 50%;
        margin-top: 8px;
        background: currentColor;
      }
    }

    &__position {
      transition: color 0.35s ease-in-out;
      color: light-dark(var(--primary-700), var(--neutral-0));
      margin: 1.3rem 0 1.7rem;
    }

    &__company {
      line-height: 1;
      color: var(--neutral-600);
    }

    &__location {
      color: var(--primary-400);
      line-height: 1;
    }
  }
}
